/* ALL */
textarea {
    min-width: 50ex !important;
    min-height: 12em !important;
}

/* reddit.com */
div.promotedlink {
    display: none;
}

div[slot="cookie-banner-text"] {
    display: none;
}

/* tfl.gov.uk */
div.top-banner-advert {
    display: none;
}

/* youtube.com */
div.player-ads {
    display: none;
}

div.ytd-in-feed-ad-layout-renderer {
    display: none;
}
