/*
 * Troubleshooting:
 *
 * 1. userContent.css needs to not be a symlink
 * 2. If styles aren't working, use !important
 */

/* ALL */
textarea {
    min-width: 50ex !important;
    min-height: 12em !important;
}

/* reddit.com */
shreddit-ad-post {
    display: none !important;
}

shreddit-comments-page-ad {
    display: none !important;
}

div.promotedlink {
    display: none !important;
}

div[slot="cookie-banner-text"] {
    display: none !important;
}

div#credential_picker_container {
    display: none !important;
}

/* tfl.gov.uk */
div.top-banner-advert {
    display: none !important;
}

div#cb-cookieoverlay {
    display: none !important;
}

/* youtube.com */
div.player-ads {
    display: none !important;
}

div.ytd-in-feed-ad-layout-renderer {
    display: none !important;
}

/* bbc.co.uk/news */
div#nations-notification-box-top,
div#nations-notification-login-promo {
    display: none !important;
}

/* gov.uk */

div.govuk-cookie-banner {
    display: none !important;
}

/* economist.com */

div[class^='adComponent'] {
    display: none !important;
}
