[Service]
Type=oneshot
ExecStart=%h/.local/bin/common/server-healthcheck
Nice=19
IOSchedulingClass=idle
TimeoutStartSec=60s

[Unit]
RefuseManualStart=true
Wants=network-online.target
After=network-online.target
