[Unit]
Description=Update systemd-status failure count for %i
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=%h/.local/bin/linux/systemd-status --failure --unit-name %i
